.block{
    height: 25vh;
    width: 40vw;
    border: solid black 2px;
}
.block-1{
    background-color: aqua;

}
.block-2{
    background-color: gold;
    position: sticky;

    top: 80px;
    left: 45px;
  

}